<form  method="POST" action="/login/fogetpassword" >
  <div >
  
    <h1>RESET PASSWORD</h1>
  </div>

  <div >
    <input type="email" class="form-control" name="email" placeholder="Email address" required autofocus>
 
  </div>
  <button type="submit">SUBMIT</button>
  </form>